<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title><%- title %></title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/homeStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
  <div id="headerHolder">
    <%- include('./partials/header') %>
  </div>
  <main>
    <div id="banner">
      <section id="carousel">
        <div id="carouselShowcase">
          <div id="carouselBannersContainer">
            <% for (let i = 1; i <= bannerImages.length; i++) {%>
              <div class="carouselBanner" id="slide-<%= i %>">
                <img class="carouselImage" src="<%= bannerImages[i - 1] %>">
              </div>
            <% } %>
          </div>
        </div>
        <div id="carouselPosition">
          <% for(let i = 1; i <= bannerImages.length; i++) { %>
            <a id="banner-position-<%= i %>" class="bannerPosition"></a>
          <% } %>
        </div>
      </section>
      <section class="featuresShowcase">
        <% for(let i = 0; i < features.length; i++) { %>
          <div class="featureHolder">
            <div class="featureTitle"><%= features[i] %></div>
            <div class="featureMore">saiba mais</div>
          </div>
        <% } %>
      </section>
      <section class="showcase">
        <div class="middleShowcase">
          <% for(let i=1; i <= 2; i++)  {%>
            <a href="/products/search?word=<%= categoriesTitles[i - 1] %>" class="squareShowcase">
              <div class="showcaseTitle"><%= categoriesTitles[i - 1] %></div>
              <img class="showcaseImage" src="<%= categoriesImages[i - 1] %>">
              <div class="seeMore">Clique e descubra</div>
            </a>
          <% } %>
        </div>
        <div class="middleShowcase">
          <% for(let i=3; i <= 4; i++)  {%>
            <a href="/products/search?word=<%= categoriesTitles[i - 1] %>" class="squareShowcase">
              <div class="showcaseTitle"><%= categoriesTitles[i - 1] %></div>
              <img class="showcaseImage" src="<%= categoriesImages[i - 1] %>">
              <div class="seeMore">Clique e descubra</div>
            </a>
          <% } %>
        </div>
      </section>
      <section class="showcase">
        <div class="rowShowcase">
          <div class="showcaseTitleProducts"><%= productsShowcaseTitle1 %></div>
          <div class="rowShowcaseCarouselContainer">
            <div class="carouselButton" id="carouselLeftButton1"></div>
            <div class="rowShowcaseItemAreaContainer" id="rowShowcaseItemAreaContainer1">
              <div class="rowShowcaseItemArea" id="rowShowcaseItemArea">
                <% for (let i = 1; i <= products1.length; i++) { %>
                  <a href="/products/view/<%= products1[i - 1].id_product %>" class="rowShowcaseItem">
                    <img class="rowShowcaseItemImage" src="<%= products1[i - 1].imgs[0] %>">
                    <div class="rowShowcaseItemInfo">
                      <div class="rowShowcaseItemTitle"><%= products1[i - 1].name %></div>
                      <div class="rowShowcaseItemDescription"><%= products1[i - 1].price %></div>
                    </div>
                  </a>
                <% } %>
              </div>
            </div>
            <div class="carouselButton" id="carouselRightButton1"></div>
          </div>
        </div>
      </section>
      <section class="showcase">
        <div class="rowShowcase">
          <div class="showcaseTitleProducts"><%= productsShowcaseTitle2 %></div>
          <div class="rowShowcaseCarouselContainer">
            <div class="carouselButton" id="carouselLeftButton2"></div>
            <div class="rowShowcaseItemAreaContainer" id="rowShowcaseItemAreaContainer2">
              <div class="rowShowcaseItemArea" id="rowShowcaseItemArea">
                <% for (let i = 1; i <= products2.length; i++) { %>
                  <a href="/products/view/<%= products2[i - 1].id_product %>" class="rowShowcaseItem">
                    <img class="rowShowcaseItemImage" src="<%= products2[i - 1].imgs[0] %>">
                    <div class="rowShowcaseItemInfo">
                      <div class="rowShowcaseItemTitle"><%= products2[i - 1].name %></div>
                      <div class="rowShowcaseItemDescription"><%= products2[i - 1].price %></div>
                    </div>
                  </a>
                <% } %>
              </div>
            </div>
            <div class="carouselButton" id="carouselRightButton2"></div>
          </div>
        </div>
      </section>
      <section class="showcase">
        <div class="middleShowcase">
          <% for(let i=1; i <= 2; i++)  {%>
            <a href="/products/search?word=<%= brands1[i - 1].name %>" class="squareShowcase">
              <img class="showcaseBrandImage" src="<%= brands1[i - 1].image %>">

            </a>
          <% } %>
        </div>
        <div class="middleShowcase">
          <% for(let i=3; i <= 4; i++)  {%>
            <a href="/products/search?word=<%= brands1[i - 1].name %>" class="squareShowcase">
              <img class="showcaseBrandImage" src="<%= brands1[i - 1].image %>">
            </a>
          <% } %>
        </div>
      </section>
      <section class="doubleShowcase">
        <div class="bigShowcase">
          <div class="showcaseTitle">Pet Store Ensina</div>
          <div id="videoPlayer">
            <iframe width="925" height="500" src="https://www.youtube.com/embed/jEGivfKnkTE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="longShowcase">
          <div class="showcaseTimer" id="<%= promotionTimer.value %>"></div>
          <% for (let i = 1; i <= promotionProducts.length; i++) { %>
            <a href="/products/view/2" class="longShowcaseItem">
              <img class="rowShowcaseItemImage" src="<%= promotionProducts[i - 1].imgs[0] %>">
              <div class="rowShowcaseItemInfo">
                <div class="rowShowcaseItemTitle"><%= promotionProducts[i - 1].name %></div>
                <div class="rowShowcaseItemDescription"><%= promotionProducts[i - 1].price %></div>
            </div>
            </a>
          <% } %>
        </div>
      </section>
      <section class="showcase">
        <div class="rowShowcase">
          <div class="showcaseTitleProducts"><%= productsShowcaseTitle3 %></div>
          <div class="rowShowcaseCarouselContainer">
            <div class="carouselButton" id="carouselLeftButton3"></div>
            <div class="rowShowcaseItemAreaContainer" id="rowShowcaseItemAreaContainer3">
              <div class="rowShowcaseItemArea" id="rowShowcaseItemArea">
                <% for (let i = 1; i <= products3.length; i++) { %>
                  <a href="/products/2" class="rowShowcaseItem">
                    <img class="rowShowcaseItemImage" src="<%= products3[i - 1].imgs[0] %>">
                    <div class="rowShowcaseItemInfo">
                      <div class="rowShowcaseItemTitle"><%= products3[i - 1].name %></div>
                      <div class="rowShowcaseItemDescription"><%= products3[i - 1].price %></div>
                  </div>
                  </a>
                <% } %>
              </div>
            </div>
            <div class="carouselButton" id="carouselRightButton3"></div>
          </div>
        </div>
      </section>
      <section class="addsShowcaseHolder">
        <div class="addsShowcase"></div>
      </section>
    </div>
  </main>
  <%- include('./partials/footer') %>
 </body>
 <script type="text/javascript" src="javascripts/home.js"></script>
</html>